{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- This is a lead paragraph indicating the purpose of the form -->
    <p class="lead">About</p>
    <h2>Alexa Witkin</h2>
    <h2>CS 2500</h2>
    <h2>December 2024</h2>

    <h3>This application will be utilized in the future alongside my thesis project. 
        It will be used as the software interface for an RFID pass scanning system. The purpose 
        is for it to collect and organize customer's data. This will allow the customer to log in, 
        access their individual data, and some of the data that is made "public". </h3>
    <h3>For the customer to access their Customer Information, Live Data, and Frequency Log, they must
        successfully login to their account. Anyone may see the Plate Information (depicting some of 
        the data for the hardware part of my thesis), the Leaderboard (which ranks the customers by how
        many runs they've done that season, or number of times they have gone over the scanner), and
         this about page. 
    </h3>
    <h3>The Customer Information page is where they can view and edit their information. The Live Data 
        page is where they can see each time they "went over one of the plates", make additional entries, 
        and remove unwanted entries. The Frequency Log will illustrate the number of runs the customer 
        has taken each day they've been to the mountain. It will also show the day they took the most 
        and least runs, as well as their average runs per day from their first day of the season to their 
        last. </h3>

    <h3>In the future implementation, most if not all of this data will be automatically entered as it is 
        recieved by the RFID scanner when the customer goes over the force plate. 
    </h3>
    <h1>...</h1>

    <div class="image-container">
        <img src="../static/diagrams.jpg" alt="Diagrams" width="700" height="400">
    </div>


</div>
{% endblock %}
